body {
  background-color: #f3f4f6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
/* #dark {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url('darkmode.png');
  background-size: cover;
}

#dark::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url('stars.png');
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#dark:hover::after {
  opacity: 1;
} */
#logo {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100px; /* Adjust the size as needed */
}

#maincontainer {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 24rem;
  width: 100%;
}

#title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1f2937;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
}

#description, #update {
  text-align: center;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

#separator {
  margin: 1rem 0;
  border-color: #e5e7eb;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.online {
  background-color: #10B981;
}

.periodic {
  background-color: #FBBF24;
}

.offline {
  background-color: #6B7280;
}
body.dark-mode {
  background-color: #1a202c;
  color: #f7fafc;
}

body.dark-mode #maincontainer {
  background-color: #2d3748;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

body.dark-mode .text {
  color:  #f7fafc !important;
} 
body.dark-mode #description, 
body.dark-mode #update {
  color: #a0aec0;
}

body.dark-mode #title {
  color: #edf2f7;
}
body.dark-mode .indicator.offline {
  background-color: #bfbfbf;
}

